/ yo - thanks for viewing source on this cool project. you win the prize. email me for tea and i'll bring your surprise along. boom.
.fb-like{data:{href:"http://tea.johncapecelatro.com", width: "", height: "", colorscheme: "light", layout: "button_count", action:"like", send: "false"}}
%a.twitter-share-button{data: {url: "http://tea.johncapecelatro.com", related: "jcap49"}}
  Tweet
.row#index_container
  / <div class="fb-like" data-href="http://tea.johncapecelatro.com" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>
  #banner_intro
    #logo
    %h1#banner 
      Let's Get Tea.
    %p#intro 
      Hey there, I’m John and I’m a senior at Babson. I was on a gap year in London & SF. Now I'm back. I’d love to meet you. Let’s sip on some tea & hang a bit. 
    #google_form
      %form#ss-form{action: "https://docs.google.com/forms/d/1OdHIfnJ7UBQX3vkKRwCLqhU6W7vBZNihsAZta_tQQR8/formResponse", method: "POST", onsubmit: "", target: "_self"}
        .errorbox-good
          .ss-item.ss-item-required.ss-text{dir: "ltr"}
            .ss-form-entry
              %label.ss-q-item-label{for: "entry_921512801"}
                .ss-q-title
                  %label{"aria-label" => "(Required field)", for: "itemView.getDomIdToLabel()"}
                .ss-q-help.ss-secondary-text{dir: "ltr"}
              %input#entry_921512801.ss-q-short{"aria-required" => "true", dir: "auto", name: "entry.921512801", placeholder: "name*", type: "text", value: ""}/
        .errorbox-good
          .ss-item.ss-item-required.ss-text{dir: "ltr"}
            .ss-form-entry
              %label.ss-q-item-label{for: "entry_823352891"}
                .ss-q-title
                  %label{"aria-label" => "(Required field)", for: "itemView.getDomIdToLabel()"}
                .ss-q-help.ss-secondary-text{dir: "ltr"}
              %input#entry_253023643.ss-q-short{"aria-required" => "true", dir: "auto", name: "entry.823352891", placeholder: "email*", type: "text", value: ""}/
        .errorbox-good
          .ss-item.ss-item-required.ss-text{dir: "ltr"}
            .ss-form-entry
              %label.ss-q-item-label{for: "entry_1883468343"}
                .ss-q-title
                  %label{"aria-label" => "(Required field)", for: "itemView.getDomIdToLabel()"}
                .ss-q-help.ss-secondary-text{dir: "ltr"}
              %input#entry_1925463404.ss-q-short{"aria-required" => "true", dir: "auto", name: "entry.1883468343", placeholder: "a sentence*", type: "text", value: ""}/
        %input{name: "draftResponse", type: "hidden", value: "[]\r\n        "}/
        %input{name: "pageHistory", type: "hidden", value: "0"}/
        .ss-item.ss-navigate
          .ss-form-entry
            %input#ss-submit{name: "submit", type: "submit", value: "Let's do this."}/

  %ul#who_where_why
    %li 
      %span#where Where: 
      Boston-area. Boston Commons, Reynolds Campus Center (Babson),
      %span>=link_to ' Crema Cafe, ', 'http://www.cremacambridge.com/'
      %span>=link_to ' Voltage Coffee, ', 'http://voltagecoffee.com/'
      wherever!
    %li
      %span#who Who: 
      me, you, your interesting friends.
    / %li
    /   %span#why Why: 
    /   =link_to 'Let me explain below...', '#why_banner' 
#divider
  #arrow_div
    %span#arrow &#9660
.row#pitch
  #bio
    #profile_photo
    %h5 Who is this guy?
    %p 
      I'm a self-taught software developer, German speaker, snowboarder, and IPA drinker. Still don't believe I'm real? Have a shout at my profiles on 
      %span>=link_to ' Github, ', 'http://github.com/jcap49'
      %span>=link_to 'Twitter, ', 'http://twitter.com/jcap49'
      %span#cat_photos and/or all my selfies on 
      %span>=link_to ' Instagram.', 'http://instagram.com/jcap49'
  #why_reasons
    %h3#why_banner Why should I get tea with this dude?
    %ol
      %li 
        You want something different. 
      %li
        I'm not your average college student.
        %ul 
          %li 
            I spent a month at a
            %span>=link_to ' Waldorfschule.', 'http://de.wikipedia.org/wiki/Waldorfschule'
          %li 
            I was a part-time ski bum this past winter.
          %li 
            I will not finish school in four years.
      %li
        So you can tell your parents you met some stranger from the internet this week AND survived to tell the tale.
#disclaimer
  #disclaimer_contents
    %p#credit 
      A big thank you to 
      %span>=link_to ' Ankit Shah ', 'http://twitter.com/ankitshah'
      for copy-editing, design critique, and most importantly the inspiration for this project. If you're in the Bay Area, be sure to 
      %span>=link_to ' get tea with him.', 'http://tea.byankit.com'
    %span#hello>=link_to 'Hit me up ', 'mailto:jcapecelatro@gmail.com'
    %span with projects you'd like help/feedback on, cheesy haikus, or other neat things.
    %p
    %br
    %p#disclaimer_text
      Just in case you’re a bit worried about not having anything to talk about, I spent a minute putting together a tidy list of fun conversation topics as follows: adventure movies from the 90’s, watermelon jollyranchers, mountains, esoteric programming languages, cumulus clouds, waterskiing, snowboarding, parks in Munich, people who stand in front of the subway doors when we're trying to exit, the earth, the moon, space, objectivity v. subjectivity, Pink Floyd, airplanes, submarines, blue watches, red watches, sleeping in space, fire, the best burritos on the west coast, banned books, 24h LeMans, traveling.