/ yo - thanks for viewing source on this cool project. you win the prize. email me for tea and i'll bring your surprise along. boom.
.row#index_container
  #banner_intro
    #logo
    %h1#banner 
      Let's Get Tea.
    %p#intro 
      Hey there, I’m John and I’m a senior at Babson. I was on a gap year in London & SF. Now I'm back. I’d love to meet you. Let’s sip on some tea & hang a bit. 
    #google_form
      %form#ss-form{action: "https://docs.google.com/forms/d/1OdHIfnJ7UBQX3vkKRwCLqhU6W7vBZNihsAZta_tQQR8/formResponse", method: "POST", onsubmit: "", target: "_self"}
        .errorbox-good
          .ss-item.ss-item-required.ss-text{dir: "ltr"}
            .ss-form-entry
              %label.ss-q-item-label{for: "entry_921512801"}
                .ss-q-title
                  %label{"aria-label" => "(Required field)", for: "itemView.getDomIdToLabel()"}
                .ss-q-help.ss-secondary-text{dir: "ltr"}
              %input#entry_921512801.ss-q-short{"aria-required" => "true", dir: "auto", name: "entry.921512801", placeholder: "name*", type: "text", value: ""}/
        .errorbox-good
          .ss-item.ss-item-required.ss-text{dir: "ltr"}
            .ss-form-entry
              %label.ss-q-item-label{for: "entry_823352891"}
                .ss-q-title
                  %label{"aria-label" => "(Required field)", for: "itemView.getDomIdToLabel()"}
                .ss-q-help.ss-secondary-text{dir: "ltr"}
              %input#entry_253023643.ss-q-short{"aria-required" => "true", dir: "auto", name: "entry.823352891", placeholder: "email*", type: "text", value: ""}/
        .errorbox-good
          .ss-item.ss-item-required.ss-text{dir: "ltr"}
            .ss-form-entry
              %label.ss-q-item-label{for: "entry_1883468343"}
                .ss-q-title
                  %label{"aria-label" => "(Required field)", for: "itemView.getDomIdToLabel()"}
                .ss-q-help.ss-secondary-text{dir: "ltr"}
              %input#entry_1925463404.ss-q-short{"aria-required" => "true", dir: "auto", name: "entry.1883468343", placeholder: "a sentence*", type: "text", value: ""}/
        %input{name: "draftResponse", type: "hidden", value: "[]\r\n        "}/
        %input{name: "pageHistory", type: "hidden", value: "0"}/
        .ss-item.ss-navigate
          .ss-form-entry
            %input#ss-submit{name: "submit", type: "submit", value: "Let's do this."}/

  %ul#who_where_why
    %li 
      %span#where Where: 
      Boston-area. Boston Commons, Reynolds Campus Center (Babson),
      %span>=link_to ' Crema Cafe, ', 'http://www.cremacambridge.com/'
      %span>=link_to ' Voltage Coffee, ', 'http://voltagecoffee.com/'
      wherever!
    %li
      %span#who Who: 
      Me + you * your cadre of friends if you’d like + tea &#61 yayfuntimes 
    / %li
    /   %span#why Why: 
    /   =link_to 'Let me explain below...', '#why_banner' 
#divider
  #arrow_div
    %span#arrow &#9660
.row#pitch
  #bio
    #profile_photo
    %h5 Who is this guy?
    %p 
      Just so we're clear, I do actually exist. I like long drives in the lorry, waking up on the wrong side of the bed, and have a special affinity for mismatched socks. Still don't believe I'm real? Have a shout at my profiles on 
      %span>=link_to ' Twitter, ', 'http://twitter.com/jcap49'
      %span>=link_to 'Facebook, ', 'http://facebook.com/john.capecelatro'
      %span#cat_photos and/or all my selfies on 
      %span>=link_to ' Instagram.', 'http://instagram.com/jcap49'
  #why_reasons
    %h3#why_banner Why should I get tea with this dude?
    %ol 
      %li 
        So I can respond to 
        =link_to 'laughter and ridicule of this site', 'http://media.giphy.com/media/qj9OmQTC7ARfW/giphy.gif'  
        by saying I actually had tea with a cool person.
      %li 
        Because tea & 
        %span>=link_to ' serendipity.', 'http://www.rottentomatoes.com/m/serendipity/'
      %li
        I'm fun. I promise! 
        %ul 
          %li 
            I just returned from a gap year in London and San Francisco.
          %li 
            I was a part-time ski bum this past winter.
          %li 
            I cook and dig swapping recipes and other food-related banter.
      %li
        So you can tell your parents you met some stranger from the internet this week AND survived to tell the tale.
#disclaimer
  #disclaimer_contents
    %p#credit 
      A big thank you to 
      %span>=link_to ' Ankit Shah ', 'http://twitter.com/ankitshah'
      for copy-editing, design critique, and most importantly the inspiration for this project. If you're in the Bay Area, be sure to 
      %span>=link_to ' get tea with him.', 'http://tea.byankit.com'
    %p#fish I once got into a fight with a basket of fish & chips in the UK once. I lost. Miserably.
    %br
    %span#hello>=link_to 'Hit me up ', 'mailto:jcapecelatro@gmail.com'
    %span with cheesy haikus, your favorite animal, or other neat things.
    %p
    %br
    %p#disclaimer_text
      Just in case you’re a bit worried about not having anything to talk about, I spent a minute putting together a tidy list of fun conversation topics as follows: adventure movies from the 90’s, watermelon jollyranchers, beer, mountains, beer, cumulus clouds, beer, waterskiing, how to be a ski bum, parks in Amsterdam, people who stand in front of the subway doors when we're trying to exit, the earth, the moon, space, what/if, Pink Floyd, airplanes, submarines, cooking, yellow watches, blue watches, red watches, sleeping in space, fire, why everyone should eat a donut at least once, banned books, banned poetry, the best toothbrush on this planet, public embarrasment, beer.