.row#index_container
  #banner_intro
    %h1#banner 
      Let's Get Tea.
    %p#intro 
      Hey there, I’m John and I’m a senior at Babson. I was on a gap year in London & SF. Now I'm back. I’d love to meet you. Let’s sip on some tea & hang a bit. 
    #google_form
      %form{:name => 'google_form', :action => "https://docs.google.com/forms/d/1OdHIfnJ7UBQX3vkKRwCLqhU6W7vBZNihsAZta_tQQR8/formRespons", :method => "POST", :id => "ss-form", :target => "_self", :onsubmit => "" }
      .errorbox-good
      .ss-item.ss-item-require.ss-text{dir: 'ltr'}
      .ss-form-entry
      %label.ss-q-item-label{:for => 'entry_921512801'}
      .ss-q-title
      %label{:for => "itemView.getDomIdToLabel()"}
      .ss-q-help.ss.secondary-text{:dir => 'ltr'}
      %input{:type => "text", :name => "entry.921512801", :value => "", :class => "google_form_input", :id => "entry_921512801", :placeholder => "name*"}
      .error-message

      .ss-item.ss-item-require.ss-text{dir: 'ltr'}
      .ss-form-entry
      %label.ss-q-item-label{:for => 'entry_921512801'}
      .ss-q-title
      %label{:for => "itemView.getDomIdToLabel()"}
      .ss-q-help.ss.secondary-text{:dir => 'ltr'}
      %input{:type => "text", :name => "entry_823352891", :value => "", :class => "google_form_input", :id => "entry_823352891", :placeholder => "email*"}
      / .error-message
      /   Must be a valid email address.

      .ss-item.ss-item-require.ss-text{dir: 'ltr'}
      .ss-form-entry
      %label.ss-q-item-label{:for => 'entry_921512801'}
      .ss-q-title
      %label{:for => "itemView.getDomIdToLabel()"}
      .ss-q-help.ss.secondary-text{:dir => 'ltr'}
      %input{:type => "text", :name => "entry.921512801", :value => "", :class => "google_form_input", :id => "entry_921512801", :placeholder => "one question*"}

      %input{:type => "hidden", :name => "draftResponse", :value => "[]"}
      %input{:type => "hidden", :name => "pageHistory", :value => "0"}

      %input{:type => "submit", :name => "submit", :value => "Press me!", :id => "ss-submit", :class => "button"}

      .error-message
  .four.columns#where
    %h3.logistics Where
    %p#where_details
      Our favorite epicenter of activity on campus: Reynolds. (Trim sitting and/or Dunkies: optional)
  .four.columns#who
    %h3.logistics Who
    %p#who_details 
      Me + you * your cadre of friends if you’d like + tea &#61 yayfuntimes / however long we talk for
  .four.columns#why
    %h3.logistics Why
    =link_to 'Let me explain below...', '#why_banner' 
#divider
  #arrow_div
    %span#arrow &#9660
.row#pitch
  #bio
    #profile_photo
    %h5 Who is this dude?
    %p 
      Just to confirm I’m not some crazy guy who’s taken up residence on this lovely campus in Swellesley we call home, have a shout at my profiles on 
      %span>=link_to ' Twitter, ', 'http://twitter.com/jcap49'
      %span>=link_to 'Facebook, ', 'http://facebook.com/john.capecelatro'
      %span#cat_photos and/or all my selfies on 
      %span>=link_to ' Instagram.', 'http://instagram.com/jcap49'
  #why_reasons
    %h3#why_banner Why should I get tea with this dude?
    %ol 
      %li 
        So I can respond to 
        =link_to 'laughter and ridicule of this site', 'http://media.giphy.com/media/qj9OmQTC7ARfW/giphy.gif'  
        by saying I actually had tea with a cool person.
      %li 
        Because tea & 
        %span>=link_to ' serendipity.', 'http://www.rottentomatoes.com/m/serendipity/'
      %li
        I'm fun. I promise! 
        %ul 
          %li 
            I just returned from a gap year in London and San Francisco.
          %li 
            I was a part-time ski bum this past winter.
          %li 
            I cook and dig swapping recipes and other food-related banter.
      %li
        So you can tell your parents you met some stranger from the internet this week AND survived to tell the tale.
#disclaimer
  #disclaimer_contents
    %p#fish I once got into a fight with a basket of fish & chips in the UK once. I lost. Miserably.
    %br
    %span#hello>=link_to 'Hit me up', 'mailto:jcapecelatro@gmail.com'
    %span with cheesy haikus, your favorite animal, or other neat things.
    %p
    %br
    %p#disclaimer_text
      Just in case you’re a bit worried about not having anything to talk about, I spent a minute putting together a tidy list of fun conversation topics as follows: adventure movies from the 90’s, beer, Californian wine, mountains, cumulus clouds, waterskiing, backcountry snowboarding, parks in Amsterdam, beer halls in Munich, beer halls in Amsterdam, the earth, the moon, space, the International Space Station, what/if, Pink Floyd, airplanes, submarines, cooking, Italian cooking, cooking French, v-neck t-shirts, yellow watches, cuffed jeans, surfing in San Francisco, backpacking in Thailand, diving in Mexico, sleeping in space, fire, how to make a fire, why everyone should eat a donut at least once, banned books, banned poetry, the best toothbrush on this planet, favorite things to do in Boston, favorite things to do in San Francisco, simple favorite things to do, and so the list continues. 

