.container
  #banner_intro
    %h1#banner 
      Let's Get Tea.
    %p#intro 
      Hey there, I’m John and I’m a senior at Babson. I was gone and now I’ve returned. I’d love to make your acquaintance. Let’s drink tea and banter a bit.
  #details
    %h3.logistics Where
    %p#where_details
      I’ll be posted up in Reynolds Campus Center from 8-10pm on 
    %strong Monday, Wednesday, and Friday evenings. Come on by and have a chat - surfing animal memes on Reddit is a decidedly lonely pursuit on any evening...
    %h3.logistics Who
    %p#who_details 
      Me + you * your cadre of friends if you’d like + tea yayfuntimes / however long we talk for
    %h3.logistics Why
    =link_to 'Let me explain...', '#why' 
  #pitch
    %h3 Who is this dude?
    %p#who 
      Just to confirm I’m not some crazy guy who’s taken up shelter on this lovely New England campus we call home, have a shout at my profiles on 
      =link_to 'Twitter,', 'http://twitter.com/jcap49'
      =link_to 'Facebook,', 'http://facebook.com/john.capecelatro'
      %p#instagram and/or all my cat photos on 
      =link_to 'Instagram.', 'http://instagram.com/jcap49'
    %h3#why Why should I get tea with this dude?
    %ol 
      %li 
        So I can respond to 
        =link_to 'laughter and ridicule of this site', 'http://media.giphy.com/media/qj9OmQTC7ARfW/giphy.gif'  
        by saying I actually had tea with a cool person.
      %li 
        You get to talk about yourself (if you want)! I promise this is not a job interview. Seriously.
      %li
        I'm fun. I promise! 
        %ul 
          %li 
            I just returned from a gap year in London and San Francisco.
          %li 
            I was a part-time ski bum this past winter.
          %li 
            I cook and dig swapping recipes and other food-related banter.
      %li
        So you can tell your parents you met some stranger from the internet this week AND you survived to tell the tale.
  #disclaimer
    %h3#disclaimer_banner
      Disclaimer:
    %p#disclaimer_text
      Just in case you’re a bit worried about not having anything to talk about, I spent a minute putting together a tidy list of fun conversation topics as follows: adventure movies from the 90’s, beer, Californian wine, mountains, cumulus clouds, waterskiing, backcountry snowboarding, parks in Amsterdam, beer halls in Munich, beer halls in Amsterdam, the earth, the moon, space, the International Space Station, what/if, Pink Floyd, airplanes, submarines, cooking, Italian cooking, cooking French, v-neck t-shirts, yellow watches, cuffed jeans, surfing in San Francisco, backpacking in Thailand, diving in Mexico, sleeping in space, fire, how to make a fire, why everyone should eat a donut at least once, banned books, banned poetry, the best toothbrush on this planet, favorite things to do in Boston, favorite things to do in San Francisco, simple favorite things to do, and so the list continues. 

