// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// index

a {
  color: #ED3434;
}

a:hover {
  color: #DE2F2F;
}

#index_container {
  font-family: verdana;
  margin: auto;
}

#banner_intro {
  font-size: 40px;
  float: left;
  margin-top: -4%;
}

#banner {
  text-align: center;
}

#intro {
  float: left;
  font-size: 30px;
  width: 45%;
  margin-top: -5%;
  margin-left: 6.5%;
}

#google_form {
  float: right;
  width: 45%;
  margin-top: -7.5%;
  margin-right: -7.5%;

  input {
    font-size: 16px;
    height: 50px;
    width: 250px;
  }
}

#ss-submit {
  background-color: #ED3434;
  color: white;
  border-style: none;
}

#ss-submit:hover {
  background-color: #DE2F2F;
}

// .logistics {
//   text-align: center;
// }

#where {
  width: 25%;
  float: left;
}

#who {
  width: 25%;
  margin-left: 14.5%;
}

#why {
  width: 25%;
  float: right;
}

// divider between fold
#divider {
  background-color: #ED3434;
  height: 225px;
}

#arrow_div {
  padding-top: 1%;
}

#arrow {
  color: white;
  font-size: 60px;
  margin-left: 46%;
  padding-top: 2%;
}

// beneath fold

#pitch {
  height: 350px;
  padding-top: 2%;
}

#bio {
  width: 20%;
  float: left;
  margin-top: -2.5%;
  margin-left: 5%;

  p {
    font-size: 14px;
    color: gray;
  }

  a {
    font-size: 14px;
  }

  #cat_photos {
    text-decoration: line-through;
  }
}

#profile_photo {
  width: 120px;
  height: 120px;
  margin-left: 12%;
  border-radius: 60px;
  -webkit-webkit-border-radius: 75px;
  -moz-webkit-border-radius: 75px;
  background: url("profile.jpg") no-repeat;
  background-position: center 32%;
  -webkit-background-size: cover;
  background-size: cover;
}

#why_reasons {
  width: 65%;
  float: right;

  li {
    line-height: 27px;
  }
}

#disclaimer {
  height: 300px;
  font-size: 12px;
  background-color: #ED3434;
  color: white;
}

#disclaimer_contents {
  width: 80%;
  padding-top: 2.5%;
  margin-left: 15%;

  a {
    color: #9E9E9E;
  }

}

#disclaimer_text {
  text-align: center;
  width: 60%;
  margin-left: 15%;
}

#fish {
  text-align: center;
  width: 60%;
  margin-left: 14.5%;
}

#hello {
  text-align: center;
  width: 60%;
  margin-left: 27.5%;
}